@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

/**body > *{
  background-color: rgba(255,0,0,0.2);
}
body > * > *{
  background-color: rgba(255,0,255,0.2);
}
body > * > * > *{
  background-color: rgba(255,100,0,0.2);
}
body > * > * > * > *{
  background-color: rgba(255,255,0,0.2);
}
body > * > * > * > * > *{
  background-color: rgba(255,255,100,0.2);
}**/

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  opacity: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: -999;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: #000000;
}

.button {
  font: inherit;

  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;

  background-color: transparent;
  background-image: linear-gradient(transparent 35%, #f0c52e 35%, #f0c52e 70%, transparent 70%);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f0c52e;
}

.button:active {
  /**color: #000000;**/
  opacity: 0.3;
}

.main-navigation,
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo,
.main-footer-logo {
  width: 163px;
  height: 35px;
}

.main-navigation-wrapper {
  display: flex;
  flex-direction: column;

  width: 1040px;
  margin-top: 20px;
  padding: 0 60px;

  /**background-color: #f7e296;**/
  background-image: linear-gradient(transparent 20px, #f7e296 20px);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 45px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.user-navigation .search-form,
.catalog-link {
  width: 440px;
}

.user-menu,
.main-menu {
  display: flex;
  justify-content: space-between;
  
  width: 500px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.user-menu .container {
  width: 230px;
}

.main-menu .container {
  width: 280px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

.catalog-menu {
  display: flex;

  margin-bottom: 40px;
}

.catalog-menu-items {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  width: 1160px;
}

.backdrop {
  background-image: linear-gradient(#f7e296 120px, transparent 120px);
}

.slider,
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.slider-img {
  width: 580px;

  text-align: center;
}

.slider-content {
  width: 560px;
}

.slider h2 {
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slider-text {
  margin-bottom: 50px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.slider-table {
  margin-top: 65px;
  margin-bottom: 90px;
  font-weight: 300;

  border-collapse: collapse;
  border: 0;
}

.slider-th {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slider-td {
  font-size: 36px;
  line-height: 48px;
}

.popular-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-item-title{
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.img {
  display: flex;
  min-height: 160px;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: #f7e296;
}

.popular-item:hover .img,
.popular-item:focus .img {
  background: #f0c52e;
}

.popular-item:active {
  opacity: 0.3;
}

.services {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: #e5e5e5;
}

.services-list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list .button:active {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.service-text {
  padding-right: 320px;
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.service-title {
  font-size: 47px;
  line-height: 48px;
  text-align: left;
  font-weight: 800;
}

.service-content {
  width: 760px;
  
  background-repeat: no-repeat;
  background-position: right bottom;
}

.delivery {
  background-image: url("../img/delivery.svg");
}

.warranty {
  background-image: url("../img/warranty.svg");
}

.credit {
  background-image: url("../img/credit.svg");
}

.logotypes {
  display: flex;
  justify-content: center;
}

.logotypes-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logotype-item {
  text-align: center;
}

.logotype-item img{
  filter: grayscale(1) opacity(0.2);
}

.logotype-item img:hover,
.logotype-item img:focus {
  filter: none;
}

.index-columns {
  display: flex;
  justify-content: center;
}

.info {
  width: 500px;
}

.contact {
  width: 560px;
}

.info h2,
.contact h2 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.info p,
.contact p {
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.main-title-wrapper {
  display: flex;
  flex-direction: column;

  width: 1040px;
  margin-top: 40px;
  margin-bottom: 45px;
  padding: 0 60px;
}

.caption {
  margin-bottom: 25px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 400px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-current,
.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  /**color: #000000;**/

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs-current,
.breadcrumbs a:active {
  opacity: 0.1;
}

.sort h2,
.filter h2{
  font-weight: 800;
}

.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #ebebeb;
}

.sort-list {
  display: flex;
  list-style: none;
}

.sort-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  /**color: #000000;**/

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active {
  opacity: 1;
}

.sort .button {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-top {
  background-image: url("../img/icon-up-dir.svg");
}

.button-bottom {
  background-image: url("../img/icon-down-dir.svg");
}

.filters {
  width: 300px;

  background-color: #efefef;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 800;
}

.filter ul {
  list-style: none;
}

.filter-input label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  /**color: #000000;**/
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filsort{
  display: flex;
  flex-basis: 1200px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;

  list-style: none;
}

.catalog-item {
  width: 360px;
}

.catalog-item:hover {
  /** показывать кнопку "в корзину"**/
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

.catalog-item h3 {
  width: 260px;
}

.popular-item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: right;
  color: #464646;
}

.pagination {
  display: flex;
  justify-content: space-between;

  padding: 25px 0;
  background-color: #ebebeb;
}

.pagination a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  /**text-align: center;**/
  /**color: #000000;**/

  opacity: 0.3;
}

.pagination-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  opacity: 1;
}

.pagination-item-current a,
.pagination-back a,
.pagination-next a {
  opacity: 1;
}

.pagination-back a:hover,
.pagination-back a:focus,
.pagination-next a:hover,
.pagination-next a:focus{
  background-color: #d9d9d9;
}

.pagination-back a:active,
.pagination-next a:active{
  background-color: #d9d9d9;
  opacity: 0.3;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  background-color: #464646;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0;

  width: 1160px;
}

.main-footer a{
  /**text-align: center;**/
  color: #ffffff;

  opacity: 0.7;
}

.main-footer a:hover,
.main-footer a:focus {
  opacity: 1;
}

.main-footer a:active{
  opacity: 0.3;
}

.main-logo {
  fill: #f7e296;
}

.footer-navigation,
.footer-middle,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
  margin-bottom: 35px;
}

.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.footer-middle {
  margin-bottom: 60px;
}

.footer-middle p {
  margin: 0;
  padding: 0;
  width: 260px;
}

.footer-site-nav {
  display: flex;
  justify-content: space-between;
  width: 440px;
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-nav a{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  /**color: #ffffff;**/
  letter-spacing: 3.6px;
  text-transform: uppercase;

  opacity: 1;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  opacity: 0.6;
}

.footer-site-nav a:active{
  opacity: 0.3;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  /**color: #ffffff;**/
}

.footer-copyright a{
  /**color: #ffffff;**/

  opacity: 1;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.search-form input[type="search"]{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.search-form input[type="search"]:hover{
  opacity: 0.6;
}

.search-form input[type="search"]:focus{
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.modal {
  /**color: #000000;**/

  background-color: #ffffff;
}

.modal-feedback label {
  font: inherit;
  font-weight: 800;
}

/**.modal-feedback input[type="text"],
.modal-feedback input[type="email"],
.modal-feedback textarea {**/
.modal-feedback input,
.modal-feedback textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.4;
}

/**.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.modal-feedback textarea:hover {**/
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  background-color: #eaeaea;
}

/**.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="email"]:focus,
.modal-feedback textarea:focus {**/
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  opacity: 1;
}
