@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

/*body > *{
  background-color: rgba(155,0,0,0.2);
}
body > * > *{
  background-color: rgba(255,0,0,0.2);
}
body > * > * > *{
  background-color: rgba(255,155,0,0.2);
}
body > * > * > * > *{
  background-color: rgba(255,255,0,0.2);
}
body > * > * > * > * > *{
  background-color: rgba(255,255,155,0.2);
}
body > * > * > * > * > * > *{
  background-color: rgba(255,255,255,0.2);
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;

  background-color: transparent;
  background-image: linear-gradient(transparent 35%, #f0c52e 35%, #f0c52e 70%, transparent 70%);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f0c52e;
}

.button:active {
  opacity: 0.3;
}

/*.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}*/

.main-header {
  margin-top: 60px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/**.main-header .container**/
.main-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 60px;

  /*background-image: linear-gradient(transparent 20px, #f7e296 20px);*/
  background-color: #f7e296;
}

.main-header-logo,
.main-footer-logo {
  position: absolute;
  width: 163px;
  height: 35px;
}

.main-header-logo {
  top: -15px;  
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 45px;
  margin-bottom: 45px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.user-navigation .search-form,
.catalog-links {
  width: 480px;
}

.user-menu,
.main-menu {
  display: flex;
  justify-content: space-between;
  
  width: 500px;
}

.container-mini {
  display: flex;
  justify-content: space-between;
}

.user-menu .container-mini {
  width: 230px;
}

.main-menu .container-mini {
  width: 280px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;
}

.site-navigation a,
.user-navigation a,
.footer-user-navigation a {
  display: block;
  /*padding: 25px 20px;*/
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

.search,
.login-link,
.check-link,
.cart-link,
.exit-link,
.user-link {
  position: relative;
  padding-left: 25px;
}

.search::before,
.login-link::before,
.check-link::before,
.cart-link::before,
.user-link::before {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 0;
  
  width: 16px;
  height: 18px;
  
  background-repeat: no-repeat;
  background-position: 0 0;
  
  /*opacity: 0.3;*/
}

.search::before {
  top: 1px;
  
  background-image: url("../img/search.svg");
}

.login-link::before,
.user-link::before  {
  background-image: url("../img/user.svg");
}

.check-link::before {
  background-image: url("../img/compare.svg");
}

.cart-link::before {
  background-image: url("../img/cart.svg");
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before,
.check-link:hover::before,
.check-link:focus::before,
.check-link:active::before,
.cart-link:hover::before,
.cart-link:focus::before,
.cart-link:active::before {
  opacity: 0.6; /****/
}

.catalog-link {
  position: relative;
}

.catalog-link::after {
  content: "";
  
  position: absolute;
  top: 4px;
  right: 0;
  
  width: 16px;
  height: 18px;
  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/plus.svg");
  /*opacity: 0.3;*/
}

.catalog-link:hover::before,
.catalog-link:focus::before,
.catalog-link:active::before {
  opacity: 0.6; /****/
}

.catalog-menu {
  display: flex;
  justify-content: space-between;

  /*margin-bottom: 40px;*/
}

.catalog-menu-items {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

.slider,
.popular-list {
  display: flex;
  justify-content: space-between;
}

.slider {
  background-image: linear-gradient(#f7e296 70px, transparent 70px);
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-img {
  width: 580px;

  text-align: center;
}

.slider-content {
  width: 560px;
}

.slider h2 {
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slider-text {
  margin-bottom: 50px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.slider-table {
  margin-top: 65px;
  margin-bottom: 90px;
  font-weight: 300;

  border-collapse: collapse;
  border: 0;
}

.slider-th {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slider-td {
  font-size: 36px;
  line-height: 48px;
}

.popular-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-item-title{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
}

.img {
  display: flex;
  min-height: 160px;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: #f7e296;
}

.popular-item:hover .img,
.popular-item:focus .img {
  background: #f0c52e;
}

.popular-item:active {
  opacity: 0.3;
}

.services-wrapper {
  margin-bottom: 50px;
  background-image: linear-gradient(transparent 80px, #e5e5e5 80px);
}

.services {
  display: flex;
  justify-content: space-between;
}

.services-list {
  width: 280px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.services-list .button:active {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.service-content {
  width: 760px;
  
  background-repeat: no-repeat;
  background-position: right 20% top 40%;
}

.delivery {
  background-image: url("../img/delivery.svg");
}

.warranty {
  background-image: url("../img/warranty.svg");
}

.credit {
  background-image: url("../img/credit.svg");
}

.service-text {
  padding-right: 320px;
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.service-title {
  font-size: 47px;
  line-height: 48px;
  text-align: left;
  font-weight: 800;
}

.logotypes {
  margin-bottom: 50px;
}

.logotypes-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.logotype-item {
  text-align: center;
}

.logotype-item img{
  filter: grayscale(1) opacity(0.2);
}

.logotype-item img:hover,
.logotype-item img:focus {
  filter: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.inner-page .index-columns {
  margin-bottom: 0;
}

.info {
  position: relative;

  width: 500px;
}

.contact {
  position: relative;
  
  width: 560px;
}

.info h2,
.contact h2 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.info p,
.contact p {
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.info-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-left: 80px;
  
  list-style: none;

  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.info-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 300px;
}

.main-title-wrapper {
  margin-bottom: 45px;
  padding: 0 60px;
}


h1 {
  margin-bottom: 25px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-current,
.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs-current,
.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-current::after {
  display: none;
}

.main-content-wrapper {
  background-image: linear-gradient(rgba(219, 219, 219, 0.5) 80px, transparent 80px),
                    linear-gradient(90deg, rgba(219, 219, 219, 0.5) 30%, transparent 30%);
}

.sort-wrapper {
  width: 760px;
}

.sort h2,
.filter h2{
  font-weight: 800;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 70px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active {
  opacity: 1;
}

.sort .button {
  width: 10px;
  height: 10px;
  padding: 10px;
    
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-top {
  background-image: url("../img/icon-up-dir.svg");
}

.button-bottom {
  background-image: url("../img/icon-down-dir.svg");
}

.filters {
  width: 325px;
  padding-left: 60px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 800;
}

.filter ul {
  list-style: none;
}

.filter-input label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filsort{
  display: flex;
  flex-basis: 1200px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  
  margin-bottom: 20px;
}

.catalog-item:hover {
  /** показывать кнопку "в корзину"**/
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

.catalog-item h3 {
  width: 260px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: right;
  color: #464646;
}

.pagination {
  display: flex;
  justify-content: space-between;

  padding: 25px 30px;
  margin-bottom: 78px;
  background-color: #ebebeb;
}

.pagination a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  opacity: 0.3;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  opacity: 1;
}

.pagination-item-current a,
.pagination-back a,
.pagination-next a {
  opacity: 1;
}

.pagination-back a:hover,
.pagination-back a:focus,
.pagination-next a:hover,
.pagination-next a:focus{
  background-color: #d9d9d9;
}

.pagination-back a:active,
.pagination-next a:active{
  background-color: #d9d9d9;
  opacity: 0.3;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  background-color: #464646;
}

.main-footer a{
  color: #ffffff;

  opacity: 0.7;
}

.main-footer a:hover,
.main-footer a:focus {
  opacity: 1;
}

.main-footer a:active{
  opacity: 0.3;
}

.main-logo {
  fill: #ffc600;
}

.main-footer-logo {
  left: 0;
  
  opacity: 1;
}

.main-footer-logo:hover,
.main-footer-logo:focus,
.main-footer-logo:active {
  opacity: 1;
}

.footer-navigation {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 45px;
}

.footer-middle,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-user-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-navigation  .container-mini {
  width: 320px;
}

/*.footer-user-navigation .container-mini {
  width: 360px;
}*/

.footer-middle {
  margin-bottom: 60px;
}

.footer-adress,
.footer-tel {
  width: 220px;
}

.footer-adress p {
  margin: 0;
  padding: 0;
}

.footer-tel{
  text-align: right;
}

.footer-site-nav {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-nav a{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  opacity: 1;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  opacity: 0.6;
}

.footer-site-nav a:active{
  opacity: 0.3;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}

.social-button {
  /**color: #ffffff;**/
  opacity: 0.6;
}

.footer-copyright a{
  /**color: #ffffff;**/

  opacity: 1;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.search-form input[type="search"]{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.search-form input[type="search"]:hover{
  opacity: 0.6;
}

.search-form input[type="search"]:focus{
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.modal {
  /**color: #000000;**/

  background-color: #ffffff;
}

.modal-feedback {
  width: 300px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
} 

.feedback-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
  
  font: inherit;
  font-weight: 800;
}

.feedback-item input,
.feedback-item textarea {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.4;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  opacity: 1;
}